@import "colors.less";
@import "mixins.less";

html {
  scroll-behavior: smooth;
}

body {
  background-color: @black;
  background-image: url(../img/hero2.jpg);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-family: sans-serif;
  color: @black;
  .textOptions(16px, 24px);

  @media (max-width: 1024px) {
    background-size: cover;
  }
}

main {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  .paddings(@l: 2em, @r: 2em);
  .margins(@l: auto, @r: auto);

  @media (max-width: 987px) {
    .paddings(@l: 1em, @r: 1em);
  }
}

.rotate {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    transform: rotate(-3deg);
    background-color: inherit;
    z-index: -10;
    .sizes(@w: 110%, @h: 300px);
    .positions(@p: absolute, @t: -55px, @l: 0px);
  }
}

.section-title {
  .textOptions(3em, 2em, 700);

  @media (max-width: 767px) {
    .textOptions(2em, 1.6em, 700);
  }
}

.subtitle {
  .textOptions(2em, 1em, 700);

  @media (max-width: 767px) {
    .textOptions(1.6em, 1em, 700);
  }
}

.section-text {
  .textOptions(1.4em, 1em);

  @media (max-width: 767px) {
    .textOptions(1em, 1em);
  }
}

.button {
  color: @white;
  border: none;
  border-radius: 0.5em;
  .textOptions(1.2em, 1em);
  .paddings(@t: 1em, @l: 1em, @b: 1em, @r: 1em);

  &--green {
    background-color: @green;
  }

  &--darkgrey {
    background-color: @darkgrey;
  }
}

a:focus,
input:focus,
button:focus {
  box-shadow: 0 0 5px @yellow;
  outline: none;
}

.dialog {
  background-color: @white;
  border-radius: 10px;

  & p {
    .textOptions(2em, 1em, 700);
    color: @darkgrey;
  }

  &::backdrop {
    background-color: @white;
    opacity: 0.5;
  }
}
