@import "colors.less";
@import "mixins.less";

.form {
  &-field {
    border-radius: 0.5em;
    border: none;
    box-shadow: 0 0 3px @black;
    .textOptions(1.2em, 1em);
    .paddings(@t: 1em, @l: 1em, @b: 1em, @r: 1em);
    .margins(@t: 2em);
    .sizes(100%);

    &--success {
      box-shadow: 0 0 3px @green;
    }

    &--error {
      box-shadow: 0 0 3px @orangered;
    }
  }

  &-button {
    .sizes(100%);
    .margins(@t: 3em, @b: 1em);
  }
}
