@import "colors.less";
@import "mixins.less";

.header {
  .paddings(@t: 1.6em, @b: 1.6em);

  &-inner {
    .flexContainer(@jc: space-between);

    @media (max-width: 767px) {
      .flexContainer(@jc: center, @fd: column, @g: 2em);
    }
  }

  &-logo {
    position: relative;
    .paddings(@l: 70px);

    h2 {
      color: @white;
      .textOptions(1.8em, 1em);
    }

    h3 {
      color: @green;
      .textOptions(1.4em, 1em);
    }

    &::before {
      content: "";
      background-color: @orangered;
      border-radius: 50%;
      .sizes(60px, 60px);
      .positions(absolute, @t: -5px, @l: 0);
    }
  }
  &-navigation {
    @media (max-width: 550px) {
      display: none;
      background-color: @white;
      z-index: 99;
      .positions(@p: fixed, @t: 0, @l: 0, @b: 0, @r: 0);
      .sizes(@w: 100vw, @h: 100vh);
    }
  }
  &-links {
    .flexContainer(@jc: space-between, @g: 20px);

    a {
      color: @white;

      @media (max-width: 550px) {
        color: @darkgrey;
      }
    }

    @media (max-width: 550px) {
      .flexContainer(@jc: center, @fd: column, @g: 2em);
    }
  }
}
