@import "colors.less";
@import "mixins.less";

.reward {
  background-color: @darkgrey;
  text-align: right;
  .paddings(@t: 4em, @b: 200px);

  &-title {
    color: @white;
  }

  &-description {
    color: @white;
    .sizes(@w: 60%);
    .margins(@b: 1.6em, @l: auto);

    @media (max-width: 550px) {
      .sizes(@w: 80%);
    }
  }
}
