@import "colors.less";
@import "mixins.less";

.timetable {
  max-width: 916px;
  .margins(@l: auto, @r: auto);

  table {
    .sizes(@w: 100%);
  }

  thead {
    background-color: @green;
  }

  th {
    background-color: @green;
    color: @white;
    text-align: center;
    .textOptions(2em, 3em, 700);

    &:first-child {
      border-top-left-radius: 1em;
    }

    &:last-child {
      border-top-right-radius: 1em;
    }

    @media (max-width: 767px) {
      .textOptions(1.6em, 2.6em, 700);
    }
  }

  tbody {
    background-color: @lightgrey;

    tr:nth-child(odd) {
      background-color: @darkgrey;
    }

    tr:nth-child(even) {
      background-color: @lightgrey;
    }
  }

  td {
    .textOptions(1.6em, 3em, 400);
    text-align: center;
    color: @white;

    @media (max-width: 767px) {
      .textOptions(1em, 2.6em, 400);
    }
    @media (max-width: 550px) {
      .textOptions(1em, 1.6em, 400);
    }
  }

  tr {
    td:last-child {
      .sizes(@w: 50px);
    }
  }

  tr:last-child {
    td:first-child {
      border-bottom-left-radius: 1em;
    }

    td:last-child {
      border-bottom-right-radius: 1em;
    }
  }

  button {
    border-radius: 50%;
    .sizes(@w: 36px, @h: 36px);
    .textOptions(1em, 1em, 400);
    .margins(@l: 0.6em, @r: 0.6em);

    @media (max-width: 767px) {
      .sizes(@w: 24px, @h: 24px);
    }
  }

  &-description {
    & td {
      text-align: left;
      .paddings(@l: 0.6em, @r: 0.6em);
      .textOptions(1em, 1.6em, 400);
    }
  }
}
