@import "colors.less";
@import "mixins.less";

.welcome {
  background-color: @white;
  .paddings(@t: 4em);

  &-inner {
    .flexContainer(space-between, @ai: flex-start);
  }

  &-content {
    flex-basis: 50%;
  }

  &-title {
    margin-bottom: 1.6em;
  }

  &-text {
    margin-bottom: 1em;
  }

  &-form {
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 5px @black;
    .paddings(@t: 2em, @r: 2em, @b: 2em, @l: 2em);
    .flexContainer(space-between, @fd: column);
  }

  &-details {
    .paddings(@t: 5em, @b: 5em);
  }
}
